{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>deepfake image detection</title>
   <link rel="stylesheet" href="{% static 'stylesheets/home.css' %}">
</head>
<body background="{% static 'images/deepfake-background.jpg' %}">
   
    <H1>FAKE IMAGE DETECTOR</H1>
    
<div class="container">
    <div class="container1">
        <div id="file_upload" style="display:block;">
            <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Upload Image</h2>
                {{ form }}
                <input type="submit" value="Upload">
            </form>
            <button onclick="toggleInput()">Switch to URL Input</button>
        </div>
        <div id="url_input" style="display:none;">
            <form action="{% url 'home' %}" method="post">
                {% csrf_token %}
                <h2>Enter Image URL</h2>
                <label for="image_url">Image URL:</label>
                <input type="text" id="image_url" name="image_url" required>
                <input type="submit" value="Submit">
            </form>
            <button onclick="toggleInput()">Switch to File Upload</button>
        </div>
    </div>
    {% if img %}
    <div class="image-preview">
        
        <h3>Image Preview</h3>
        <div class="card">
            <img src="{{ img.photo.url }}" alt="img">
        </div>
        
        
    
      <div class="result">
        {% if result %}
        <h3>Result: {{ result }}</h3>
        {% endif %}
      </div>
    
    </div>
    {% endif %}
</div>

<script src="{% static 'javascript/home.js' %}"></script>
  
</body>
</html>
